@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: rgb(235, 248, 251);
}

body {
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 96px;
}

h4 {
  font-size: 96px;
}

h5 {
  font-size: 96px;
}

h6 {
  font-size: 96px;
}
